In [1]:
import pandas as pd
import numpy as np

In [13]:
input_file = "task1_test_gpt35_eval.json"
results = pd.read_json(f"../data/{input_file}")
results['num_constraints'] = results['constraints'].apply(len)
results['num_constraints_sat'] = results['positive_constraints'].apply(lambda x: np.mean([np.count_nonzero(r) for r in x]) if x else None) / results['num_constraints']

In [16]:
#helpers
grand_mean = lambda responses: np.mean(responses.dropna().apply(np.mean))

In [15]:
def get_aggs(results, by='num_constraints'):
    aggs = results.groupby(by).agg({"Distinctiveness": ['mean'],
                                              'num_constraints_sat': ['mean'],
                                              **{col: grand_mean for col in results.columns[9:13]}})
    return aggs

In [17]:
get_aggs(results)

,Distinctiveness,num_constraints_sat,Appropriateness,Relevance,Content Richness,Grammatical Correctness
,mean,mean,<lambda>,<lambda>,<lambda>,<lambda>
num_constraints,,,,,,
1,0.816721,0.420000,3.274510,2.862745,3.098039,4.215686
2,0.814119,0.338333,3.313725,2.892157,3.205882,4.225490
3,0.833948,0.288889,3.254902,2.921569,3.313725,4.215686
4,0.843011,0.241667,3.541667,3.000000,3.333333,4.354167
6,0.803945,0.194444,3.208333,2.854167,3.166667,4.250000

In [18]:
get_aggs(results, ["n_subcats"])

,Distinctiveness,num_constraints_sat,Appropriateness,Relevance,Content Richness,Grammatical Correctness
,mean,mean,<lambda>,<lambda>,<lambda>,<lambda>
n_subcats,,,,,,
1,0.815346,0.406667,3.235294,2.794118,3.117647,4.196078
2,0.828639,0.262500,3.484848,3.030303,3.303030,4.313131
3,0.818947,0.241667,3.232323,2.888889,3.242424,4.232323

In [19]:
get_aggs(results, ["n_subcats","num_constraints"])

                          Distinctiveness num_constraints_sat Appropriateness  \
                                     mean                mean        <lambda>
n_subcats num_constraints
1         1                      0.816721            0.420000        3.274510
          2                      0.813971            0.393333        3.196078
2         2                      0.814267            0.283333        3.431373
          4                      0.843011            0.241667        3.541667
3         3                      0.833948            0.288889        3.254902
          6                      0.803945            0.194444        3.208333

                          Relevance Content Richness Grammatical Correctness
                           <lambda>         <lambda>                <lambda>
n_subcats num_constraints
1         1                2.862745         3.098039                4.215686
          2                2.725490         3.137255                4.176471
2         2                3.058824         3.274510                4.274510
          4                3.000000         3.333333                4.354167
3         3                2.921569         3.313725                4.215686
          6                2.854167         3.166667                4.250000